@model CarShop.ViewModels.CarViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.RegistryNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.RegistryNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.RecordAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.RecordAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.RecordModificationAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.RecordModificationAuthor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = model.Car.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
