@model CarShop.ViewModels.CarViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.RegistryNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Modificationdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.RecordAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.RecordModificationAuthor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.CarList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistryNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modificationdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordModificationAuthor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
